<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer id="info">
	<p>Created by J. Spencer Hopkins</p>
	<p>Copyright &copy; <%= Date.today.year %></p>
</footer>

</body>
</html>
